# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Flying\cumt_kxz\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
